@import "tailwindcss";
body {
    background-image: url("/assets/worldtour.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
  }
  